## Strings

string is a immutable datatype in python

In [ ]:
name="Yamini"
type(name)

In [ ]:
a=1
b='1'
type(a),type(b)

In [ ]:
bin(8)

In [ ]:
s=str()   #used for creating empty string
s,type(s)

In [ ]:
name

### Indexing
#### * Forward indexing
#### * Backward indexing

In [ ]:
name[0],name[1],name[2],name[3],name[4],name[5] #forward indexing

In [ ]:
len(name)

In [ ]:
name[len(name)-1]

In [ ]:
name[-1],name[-2],name[-3],name[-4],name[-5],name[-6]    #backward indexing

### String Slicing

name[start:end]

In [ ]:
name[:3]

In [ ]:
name[2:]

In [ ]:
name[:4]

In [ ]:
name[:]

In [ ]:
name[::],name[::1]

In [ ]:
name[:6:2]

In [ ]:
name[5:0:-1]

In [ ]:
name[5::-1],name[::-1] #reverse of a string

In [ ]:
name[2::-1]

In [ ]:
name[-3:]

In [ ]:
name[-3:][::-1] #reverse of last three characters

In [ ]:
name[0]="A" #we cant change the string name using the index

In [ ]:
name="moturu" #we can change the whole name 
name

In [ ]:
a

In [ ]:
del a  #deletion of a variable

In [ ]:
del name #we can delete the whole string

In [ ]:
name="YAMINI"

In [ ]:
len(name)

In [ ]:
min(name)   #ASCII values are considered and then there min value character is printed

In [ ]:
max(name)

In [ ]:
ord('A')  #to find the ASCII value of a character

In [ ]:
chr(97) #to find the charcter of that value

In [ ]:
#to print alphabets using ASCII values
i=97
while(i<123):
    print(chr(i),end=" ")
    i=i+1

In [ ]:
i=65
while(i<91):
    print(chr(i),end=" ")
    i=i+1

In [ ]:
i=65
while(i<123):
    print(chr(i),end=" ")
    if(i>91 and i<97):
        continue
    print(chr(i),end=" ")
    i=i+1

In [ ]:
for i in range(97,97+26):
    print(chr(i),end=" ")

### String Methods

In [ ]:
name="yamini"

all these are for only themporary values or duplicate values

In [ ]:
#capitalize
name.capitalize()  #only starting character is capitalized

In [ ]:
name.upper()      #all the characters are capitalized

In [ ]:
name

In [1]:
n="moturu yamini naga devi"

In [2]:
#title
n.title()          #starting charcters of each word is capitalized

'Moturu Yamini Naga Devi'

In [3]:
n.isupper()

False

In [4]:
n.islower()

True

In [5]:
n.istitle()

False

In [6]:
n.title().istitle()

True

In [7]:
a="148"

In [ ]:
a.isdigit()

In [ ]:
"ya".isdigit()

In [ ]:
"yam".isalpha()

In [ ]:
rollno="17815a0502"
29

In [2]:
#my own code
rollno=input()
i=sumn=0
while i<(len(rollno)):
    if(rollno[i].isdigit()):
        sumn+=int(rollno[i]) 
    i+=1
print(sumn)

17815a0502
29

In [5]:
#another example
rollno=input()
i=sumn=0
for i in range(len(rollno)):
    if(rollno[i].isdigit()):
        sumn+=int(rollno[i]) 
print(sumn)

17815a0502
29

In [16]:
n="Moturu Yamini Naga Devi"
n

'Moturu Yamini Naga Devi'

In [17]:
words=n.split(" ") #divides and returns a list
words

['Moturu', 'Yamini', 'Naga', 'Devi']

In [18]:
'*'.join(n)

'M*o*t*u*r*u* *Y*a*m*i*n*i* *N*a*g*a* *D*e*v*i'

In [19]:
m="a-p-s-s-d-c"
#a_p_s_s_d_c
"_".join(m.split("-"))

'a_p_s_s_d_c'

In [21]:
m.replace('-','_')

'a_p_s_s_d_c'

In [22]:
m.index('p')

2

In [25]:
m.index('z')

ValueError: substring not found

In [23]:
m.find('p')

2

In [24]:
m.find('z')

-1

In [27]:
name='yamini'
v='good'
'{} is a {} girl'.format(name,v)

'yamini is a good girl'

In [28]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
n.startswith('y')

False

In [30]:
n.endswith('i')

True

In [31]:
m.rfind('-')

9

In [32]:
m.rindex('-')

9

In [33]:
n.rfind('-')

-1

In [34]:
n, len(n)

('Moturu Yamini Naga Devi', 23)

In [39]:
n.center(50),n.center(50,"_")

('             Moturu Yamini Naga Devi              ',
 '_____________Moturu Yamini Naga Devi______________')

In [43]:
n.ljust(50,"_")

'Moturu Yamini Naga Devi___________________________'

In [41]:
n.rjust(50,"_")

'___________________________Moturu Yamini Naga Devi'

In [52]:
n.ljust(27,"is a good girl")

TypeError: The fill character must be exactly one character long

In [53]:
'   hai hello  '.lstrip()  #used to remove spaces

'hai hello  '

In [54]:
'       hai hello '.rstrip()

'       hai hello'

In [55]:
'        hai hello     '.strip()

'hai hello'

In [68]:
(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z)=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26)
a+b+a

4

In [74]:
data=input()
s=0
for char in data:
    s+=ord(char)-96
print(s)

xyz
75

In [88]:
print(1,2,sep=':')

1:2

In [89]:
print(1,2,sep=':',end=':')

1:2:

## Functions

In [75]:
def add(a,b):
    return a+b

In [76]:
def addition(a,b):
    return a+b

In [77]:
print("addition of numbers is: ",addition(1,2))

addition of numbers is:  3

In [78]:
print("addition of numbers is: ",add(2,4))

addition of numbers is:  6

### Required arguments

In [79]:
add(1,2)

3

In [80]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

### Keyword arguments

In [81]:
def print_vals(a,b):
    print('a=',a,'b=',b)
print_vals('a','b')

a= a b= b

In [82]:
print_vals(b='b',a='a')

a= a b= b

### Default arguments

In [83]:
def student_details(name,branch='cse'):
    print(name,branch)

In [84]:
student_details('Yamini')

Yamini cse

In [85]:
student_details('Yamini','ece')

Yamini ece

### Variable length argument

In [86]:
def add(a,b,*values):
    return a+b+sum(values)

In [87]:
add(1,2,3,4,5)

15