## List

* List is nothing but collection of different types of data like array in c language
* list represented by [ ] braces
* list is mutable

In [ ]:
l=[]
type(l),l

In [ ]:
l=[1,2,"hello",3.4,True,[1,2,3]]
l

### Indexing in list

In [ ]:
l[0]

In [ ]:
l[-1]

In [ ]:
l[-2]

In [ ]:
l[10]

In [ ]:
l[-1][1]

### Slicing

In [ ]:
l

In [ ]:
l[2:4]

In [ ]:
l[-2:]         #last two elements in the list

In [ ]:
l[::-1]          #reverse of a list

In [ ]:
l[-1][::-1]

In [ ]:
l[::2]

In [ ]:
l[0]=10      #to modify the list
l

In [ ]:
del l[0]        #to change the list
l

In [ ]:
l[1]=-8
l

In [ ]:
marks=[2,3,1,6,4]
min(marks)

In [ ]:
max(marks)

In [ ]:
sum(marks)

In [ ]:
sorted(marks)

In [ ]:
sorted(marks,reverse=True)

In [ ]:
avg=sum(marks)//len(marks)     #avergae of a list
avg

In [ ]:
marks+[10,20]

In [ ]:
a=marks*2
a#it returns two times of the same list

In [ ]:
a

### List Methods

In [15]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
marks.append(10)   #to dynamically add the value to the list
marks

In [ ]:
marks.extend([20,30])
marks

In [ ]:
del marks[9:]
marks

In [ ]:
marks.pop()

In [ ]:
marks

In [ ]:
marks.pop(0)

In [ ]:
marks

In [ ]:
marks.insert(5,8)    #inserted at a specified index (index,value)
marks

In [ ]:
marks.index(8)

In [ ]:
marks.index('y')

In [ ]:
marks.reverse()
marks

In [ ]:
marks.sort()
marks

In [ ]:
marks.count(10),marks.count(8)

In [ ]:
marks.count(-1)

In [ ]:
marks2=marks.copy()
marks2

In [ ]:
marks

In [ ]:
marks.clear()
marks

In [ ]:
marks=marks2.copy()
marks2.clear()

In [ ]:
marks

In [ ]:
for item in marks:
    print(item)

In [ ]:
item=0
while item<len(marks):
    print(marks[item])
    item+=1

In [2]:
item=s=0
while item<len(marks):
    s+=marks[item]
    item+=1
print(s)

NameError: name 'marks' is not defined

In [ ]:
name=["Yamu","Teju","Krthi","Sussu"]
#to print the name which is ended with u

In [ ]:
#print the strings which ends with u
names="yamu teju kruthi sussu"
names_list=names.split(" ")
for name in names_list:
    if name.endswith('u'):
        print(name,end=" ")

In [3]:
#to print the string which has max length
names="yamu tejaswari kruthika susmi"
names_list=names.split(" ")
l=[]

for names in names_list:
    l.append(len(names))
    a=max(l)
    if len(names)==a:
        n=names
print(n)

tejaswari

In [20]:
print(max(a))

TypeError: 'int' object is not iterable

In [6]:
#print the strings which ends with a,e,i,o,u
names="yamu teju kruth sussu"
names_list=names.split(" ")
for name in names_list:
    if name.endswith(('a','e','i','o','u')):
        print(name,end=" ")

yamu teju sussu

In [26]:
#given list of strings are palindrome or not
names="yamu teju kruth sussu mam"
names_list=names.split(" ")
for name in names_list:
    r=name[::-1]
    if r==name:
        print ("YES")
    else:
        print("NO")

NO
NO
NO
NO
YES

In [25]:
#given string is palindrome or not
names=input()
r=names[::-1]
if r==names:
     print ("YES")
else:
    print("NO")

madam
YES

In [37]:
#to change the string from one case to another
name=input()
name.swapcase()

yaMiNi

'YAmInI'

## Tuple

- tuple is a immutable data tuple in python
- it is also like list but it cant chnage once created
- it is represented by ( ) symbol

In [38]:
t=tuple()
t

()

In [40]:
ages=(20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

### Indexing in Tuple

In [41]:
ages[0]

20

In [42]:
ages[-1]

40

In [43]:
ages[:2]

(20, 21)

In [44]:
ages[::-1]

(40, 21, 20)

In [47]:
del ages[0]   #we cant remove any element in the tuple

TypeError: 'tuple' object doesn't support item deletion

In [48]:
ages[0]=10  #we cant modify any element in the tuple

TypeError: 'tuple' object does not support item assignment

In [49]:
len(ages)

3

In [50]:
min(ages)

20

In [51]:
max(ages)

40

In [52]:
sum(ages)

81

In [54]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [71]:
ages.index(20)

0

In [58]:
ages.count(20)

1

In [59]:
x,y,z=ages

In [60]:
print(x,y,z)

20 21 40

In [61]:
ages

(20, 21, 40)

In [63]:
a=1,2,3
a,type(a)

((1, 2, 3), tuple)

In [74]:
for item in ages:
    print(item)

20
21
40

In [75]:
for item in ages[::-1]:
    print(item)

40
21
20

In [11]:
#print yes if the given two strings have same characters
a=input()
b=input()
a=sorted(a)
b=sorted(b)
if a==b:
    print("YES")
else:
    print("NO")

aab
aba
YES

In [29]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Set

- Set removes duplication
- set is mutable

In [28]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [29]:
s={1,2,1,3,1,4,5,43}
s

{1, 2, 3, 4, 5, 43}

In [52]:
len(s)

5

In [53]:
min(s)

3

In [54]:
max(s)

43

In [55]:
sum(s)

65

In [33]:
s.add(10)
s

{2, 3, 4, 5, 10, 43}

In [31]:
s.pop()

1

In [34]:
s.remove(2)

In [35]:
s

{3, 4, 5, 10, 43}

In [37]:
a={1,2}
b={3,4}
a.union(b)

{1, 2, 3, 4}

In [38]:
a.intersection(b)

set()

In [39]:
b.difference(a)

{3, 4}

In [44]:
a,b
a={1,2,3,4}
b={3,4,5,6}

In [45]:
a.difference_update(b)
a,b

({1, 2}, {3, 4, 5, 6})

In [48]:
c={1}
c

{1}

In [49]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [50]:
a.isdisjoint(c)

False

In [51]:
a.issuperset(c)

True

In [64]:
#to print duplicate characters in the given strings
s="Yamini kruthi sussu"
s1=s.split(" ")
p={}
p=s1
print(p)

['Yamini', 'kruthi', 'sussu']

In [65]:
s={"Yamini,kruthi,sussu"}
s

{'Yamini,kruthi,sussu'}