## List Comprehensions
In python, list comprehension is an easy way to create lists. List comprehensions are more efficient compared to for loop.

In [1]:
list1=[1,2,3,4]
result=[]
for num in list1:
    result.append(num)
print(result)

[1, 2, 3, 4]

In [2]:
result=[n for n in range(6,11)]
print(result)

[6, 7, 8, 9, 10]

In [3]:
s="appssdc"
[char for char in s]

['a', 'p', 'p', 's', 's', 'd', 'c']

In [4]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[i for i in range(1,11) if i%2==0]           #to print even numbers

[2, 4, 6, 8, 10]

Example Given a List contains a paragraph and each sentence is separated with commas. Write a program to print list that contains individual words. With For Loop
#### method 1

In [6]:
paragraph=["there was a fox","it is near to me"]
list1=[]
for sen in paragraph:
    for word in sen.split():
        list1.append(word)
print(list1)

['there', 'was', 'a', 'fox', 'it', 'is', 'near', 'to', 'me']

#### method2

In [7]:
paragraph=["there was a fox","it is near to me"]
list1=[word for sen in paragraph for word in sen.split()]
print(list1)

['there', 'was', 'a', 'fox', 'it', 'is', 'near', 'to', 'me']

program to print cudes of a given number

In [9]:
def cube(n):
    return n**3
li=[1,2,3,4,5,6]
num=[i for i in li]
[cube(i) for i in num]

[1, 8, 27, 64, 125, 216]

In [10]:
#sum of digits of given string
rollno="16811a0562"
sum([int(c) for c in rollno if c.isdigit()])

30

In [12]:
#print the names which starts with a
names=['kruthi','afsha','asha','yami','suss']
[name for name in names if name.startswith('a')]

['afsha', 'asha']

In [13]:
#print the names which ends with a
names=['kruthi','afsha','asha','yami','suss']
[name for name in names if name.endswith('a')]

['afsha', 'asha']

In [14]:
#print the names which length with 5
names=['kruthi','afsha','asha','yami','suss']
[name for name in names if len(name)==5]

['afsha']

In [15]:
#print the names which length with 5
names=['kruthi','afsha','asha','yami','suss']
[name for name in names if len(name)>5]

['kruthi']

In [16]:
#print the names which length with 5
names=['kruthi','afsha','asha','yami','suss']
[name for name in names if len(name)!=5]

['kruthi', 'asha', 'yami', 'suss']

In [18]:
#print the first 1000 values sum
sum([i for i in range(1,1001)])

500500

In [21]:
sum([i for i in range(1,11) if i%2==0])        #sum of even number in the given range

30

In [26]:
s="this is kruthi"
[w for w in s.split() if len(w)==2]

['is']

In [30]:
s="this is kruhti am an"
','.join([w.upper() for w in s.split() if len(w)==2])

'IS,AM,AN'

### Python dictionary comprehentions
Dictionary comprehension is a method for transforming one dictionary into another dictionary. During this transformation, items within the original dictionary can be conditionally included in the new dictionary and each item can be transformed as needed.

In [32]:
a={'a':'7','b':'5','c':'4','d':'3','e':'2'}
a['c']='kk'
print(a['b'])

5

In [33]:
num=[1,2,3,4,5]
square={}
for i in num:
    square[i]=i*i
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [48]:
{i:i*i for i in num}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [45]:
s='i am kruthi and yami is not with me'
{w[0]:w for w in s.split(" ")}

{'i': 'is',
 'a': 'and',
 'k': 'kruthi',
 'y': 'yami',
 'n': 'not',
 'w': 'with',
 'm': 'me'}

In [49]:
s='i am kruthi and yami is not with me'
{w[0].upper():w for w in s.split(" ")}

{'I': 'is',
 'A': 'and',
 'K': 'kruthi',
 'Y': 'yami',
 'N': 'not',
 'W': 'with',
 'M': 'me'}

In [50]:
s='i am kruthi and yami is not with me'
{w[0].upper():w.capitalize() for w in s.split(" ")}

{'I': 'Is',
 'A': 'And',
 'K': 'Kruthi',
 'Y': 'Yami',
 'N': 'Not',
 'W': 'With',
 'M': 'Me'}

In [54]:
s='i am kruthi and yami is not with me'
{w[0].upper():w.title() for w in s.split(" ")}

{'I': 'Is',
 'A': 'And',
 'K': 'Kruthi',
 'Y': 'Yami',
 'N': 'Not',
 'W': 'With',
 'M': 'Me'}

In [77]:
s='i am kruthi and yami is not with me'
alter={w[0]:w for w in s.split(" ")}
list(alter.items())[::2]

[('i', 'is'), ('k', 'kruthi'), ('n', 'not'), ('m', 'me')]

In [68]:
words={k:v for k,v in list(alter.items())[::2]}
words

{'i': 'is', 'k': 'kruthi', 'n': 'not', 'm': 'me'}

In [72]:
num=[1,2,3,4,5,6]
t=('one','two','three','four','five''six')
list1={k:v for k,v in zip(num,t)}
list1

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'fivesix'}

In [84]:
cont="""kruhti 3214569870
yamni 6325897410
susmi 9988774455"""
contact_dict={}
for line in cont.split("\n"):
    contact_name,number=line.split()
    contact_dict[contact_name]=number
contact_dict

{'kruhti': '3214569870', 'yamni': '6325897410', 'susmi': '9988774455'}

In [92]:
cont="""kruhti 3214569870
yamni 6325897410
susmi 9988774455"""
contact_dict={}
for line in cont.split("\n"):
    print(line)

kruhti 3214569870
yamni 6325897410
susmi 9988774455

In [96]:
{line:line for lines in cont.split("\n") for line in lines.split()}

{'kruhti': 'kruhti',
 '3214569870': '3214569870',
 'yamni': 'yamni',
 '6325897410': '6325897410',
 'susmi': 'susmi',
 '9988774455': '9988774455'}

In [97]:
{line:line for lines in cont.split("\n") for line in lines.split()[::2]}

{'kruhti': 'kruhti', 'yamni': 'yamni', 'susmi': 'susmi'}

In [99]:
words=[]
for lines in cont.split("\n"):
    for line in lines.split():
        words.append(line)
words
{n:c for n,c in zip(words[::2],words[1::2])}

{'kruhti': '3214569870', 'yamni': '6325897410', 'susmi': '9988774455'}

### Tuple comprehentions

In [100]:
tuple(i for i in range(5))

(0, 1, 2, 3, 4)

In [102]:
sum(tuple(i for i in range(5)))

10

In [103]:
tuple(i for i in range(5)[::2])

(0, 2, 4)